body {
    color: #3E4A40;
    background: #D1B16A;
}

.page-title {
    margin: 0;
    text-align: center;
}

.map {
    position: relative;
    width: 900px;
    height: 580px;
    margin: 0 auto;
    border: 3px solid #3E4A40;
}

.region {
    position: absolute;
    color: darkred;
    background: rgba(160, 36, 36, 0.7);
    border: 1px solid #A02424;
    box-sizing: border-box;
    cursor: pointer;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    background: #D1B16A;
}
.preloader__image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin: -60px 0 0 -60px;
    background: url("../img/cart-wheel.svg") no-repeat;
    background-size: 120px;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}